<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Flight is booked, <%= @booking.passengers.first.name %></h1>
    <p>
      You have successfully booked a flight!<br>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for flying and have a great day!</p>
  </body>
</html>